.udemyNavbar {
  max-width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}
.header__navbar {
  .navbar-brand {
    img {
      width: 110px;
    }
  }
  .header__left {
    .categories {
      cursor: pointer;
      align-self: center;
      // flex-grow: 2;
      @include text-style($color-black-light, $fs-1, $fw-normal);
      padding: $pd-0 0;
       &:hover {
          background-color: $color-gray-1;
          color: $color-gray-4;
       }
    }
    .navbar-brand {
      img {
        width: 110px;
      }
    }
    .formSearch {
        flex-grow: 1;
        @include inputSearch($color-white-cream,$color-white-cream,$color-white-0,$color-gray-4,$color-white-0,$color-gray-4);
        .input-group-text {
          cursor: pointer;
        }
    }
  }
  .header__right{
      .navbar-nav {
          .nav-item {
            .nav-link {
              @include text-style($color-black-light, $fs-1, $fw-normal);
              padding: $pd-2 $pd-2;
              cursor: pointer;
  
            }
            .icon-shopping {
              @include text-style($color-black-light, $fs-2, $fw-normal);
              line-height: 55px;
              padding: $pd-0 $pd-2;
            }
            &:hover {
              background-color: $color-gray-1;
              color: $color-gray-4;
            }
          }
          .nav-item:nth-child(3) {
              border-radius: 50%;
          }
      }

  }
}
        // RESPONSIVES
        
      //   @include mediaQuery('medium') {
      //     .header__left {
      //           .categories {
      //               display: none;
      //           }
      //           .formSearch {
      //               .input-group-text {
      //                  font-size: $fs-2;
      //               }
                    
      //           }
      //       }
        
      // }

      //   @include mediaQuery('large') {
      //     .header__right {
      //         .nav-item {
      //            display: flex;
      //         }
      //        .header__business, .header__teach {
      //             display: none;
      //            }
      //       }
      //   } 
      //   @include mediaQuery('extra-large') {
      //     .header__right {
      //       .header__business, .header__teach {
      //         display: none;
      //        }
      //     }
      //   } 
