.udemyNavbar {
  .header__navbar {
  align-items: none!important;
  .header__left {
    .categories {
      cursor: pointer;
      align-self: center;
      @include text-style($color-black-light, $fs-1, $fw-normal);
      padding: $pd-0 0;
      &:hover {
        background-color: $color-gray-1;
        color: $color-gray-4;
      }
    }
    .navbar-collapse {
      flex-grow: 0;
    }
    .navbar-brand {
      img {
        width: 110px;
      }
    }
    .formSearch {
        flex-grow: 5;
        @include inputSearch($color-white-cream, $color-white-cream, $color-white-0, $color-gray-6, $color-white-0, $color-gray-6);
      
        .input-group-text {
          cursor: pointer;
        }
    }
  }

  .header__right{
    padding: $pd-1 - 5 $pd-3;
    .shopingCart {
      line-height: 34px;
      cursor: pointer;
      @include text-style($color-black-light, $fs-2, $fw-normal);
      padding: $pd-0 $pd-2;
        &:hover {
          background-color: $color-gray-1;
          color: $color-gray-4;
        }
    }
      .navbar-nav {
        
          .nav-item {
            .nav-link {
              @include text-style($color-black-light, $fs-1, $fw-normal);
              padding: $pd-1 + 2.5 $pd-2;
              cursor: pointer;
  
            }

            &:hover {
              background-color: $color-gray-1;
              color: $color-gray-4;
            }
          }
          .nav-item:nth-child(3) {
              border-radius: 50%;
          }
      }
      
    }
  } 
}
        // RESPONSIVES

        @include mediaQuery('very small') {
          .header__navbar { 
            .header__left {
              .formSearch {
                  display: none;

              }
          }
        }
        
      }

        @include mediaQuery('small') {
          .header__navbar { 
            .header__left {
              .formSearch {
                  display: none;

              }
          }
        }
        
      }
        
        @include mediaQuery('medium') {
          .header__navbar { 
            .header__left {
              .formSearch {
                  max-width: 68%!important;

              }
          }
        }
        
      }

        @include mediaQuery('large') {
          .header__navbar {
            .header__left {
              .formSearch {
                max-width: 48%;
                  
              }
            }

            .header__right{ 
              .dropdown-menu {
                position: absolute;
                min-width: 0!important;
              }
            }
          }
          
        } 
        
        @include mediaQuery('extra-large') {
          .header__navbar { 
            .formSearch {
              flex-grow: 5;
              .header__right{ 
                  padding-right: 30px;
              }
            }
          }
          
        } 
