.udemyNavbar {
  
  .header__navbar {
  align-items: none!important;
  .header__left {
    flex-grow: 1;
    .categories {
      cursor: pointer;
      align-self: center;
      // flex-grow: 2;
      @include text-style($color-black-light, $fs-1, $fw-normal);
      padding: $pd-0 0;
      &:hover {
        background-color: $color-gray-1;
        color: $color-gray-4;
      }
    }
    .navbar-brand {
      flex-grow: 1;
      img {
        width: 110px;
      }
    }
    .formSearch {
        flex-grow: 5;
        @include inputSearch($color-white-cream, $color-white-cream, $color-white-0, $color-gray-6, $color-white-0, $color-gray-6);
        
        .input-group-text {
          cursor: pointer;
        }
    }
  }

  .header__right{
    padding: $pd-1 $pd-2 - 5;
    .shopingCart {
      line-height: 34px;
      cursor: pointer;
      @include text-style($color-black-light, $fs-2, $fw-normal);
      padding: $pd-0 $pd-2;
        &:hover {
          background-color: $color-gray-1;
          color: $color-gray-4;
        }
    }
      .navbar-nav {
        
          .nav-item {
            .nav-link {
              @include text-style($color-black-light, $fs-1, $fw-normal);
              padding: $pd-1 + 2.5 $pd-2;
              cursor: pointer;
  
            }

            &:hover {
              background-color: $color-gray-1;
              color: $color-gray-4;
            }
          }
          .nav-item:nth-child(3) {
              border-radius: 50%;
          }
      }
      
    }
  } 
}
        // RESPONSIVES
        
      //   @include mediaQuery('medium') {
      //     .header__left {
      //           .categories {
      //               display: none;
      //           }
      //           .formSearch {
      //               .input-group-text {
      //                  font-size: $fs-2;
      //               }
                    
      //           }
      //       }
        
      // }

      //   @include mediaQuery('large') {
      //     .header__right {
      //         .nav-item {
      //            display: flex;
      //         }
      //        .header__business, .header__teach {
      //             display: none;
      //            }
      //       }
      //   } 
      //   @include mediaQuery('extra-large') {
      //     .header__right {
      //       .header__business, .header__teach {
      //         display: none;
      //        }
      //     }
      //   } 
